.navContainer {
  padding: 10px;
}

.ulContainer {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  align-items: center;
}

.li {
  padding: 5px;
  background-color: lightgrey;
}