.navContainer {
  padding: 10px;
  background: linear-gradient(280deg, black, rgb(236, 240, 243));
}

.ulContainer {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  align-items: center;
}

.li {
  padding: 5px;
  background-color: lightgrey;
}